<div class=head>
<div>
  <%= flash[:notice] %>
</div>

<br>

<span>Title</span>:
<span><%= @book.title %></span>

<br>
<br>

<span>Body</span>:
<span><%= @book.body %></span>

<br>
<br>

<%= link_to "Edit", edit_book_path(@book.id) %> |
<%= link_to "Back", books_path %>
</div>